extends layout
block content
 .row.banner
 .col-12
 h1= title
 .row
 .col-12.col-lg-8
 p
 | Online Voting System was created for easy voting on your mobile.
 | <br /><br />
 | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nuncsed lorem ac nisi dignissim accumsan