extends layout

block content
  style.
    .circular-img {
      width: 250px; /* Adjust the size as needed */
      height: 250px; /* Adjust the size as needed */
      border-radius: 70%;
      object-fit: cover; /* Ensures the image covers the circle without distortion */
    }
    .media-img {
      width: 100px; /* Adjust the size as needed */
      height: 100px; /* Adjust the size as needed */
      border-radius: 50%; /* Makes the image circular */
      object-fit: cover; /* Ensures the image covers the circle without distortion */
    }
    .nav-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px; /* Space between items */
    }
    .text {
      font-size: 30px; /* Adjust font size as needed */
      margin-left: 10px; /* Space between the image and text */
      text-decoration: none; /* Remove underline from links */
    }
    .text h3 {
      margin: 0; /* Remove default margin for heading */
    }
    .social-media-links {
      display: flex;
      flex-direction: column; /* Stack items vertically */
    }
    .vote-box {
      width: 80px;
      height: 40px;
      background-color: #4CAF50;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
    }
    .vote-box a {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }

  .row.banner
    .col-12
      h1= pageHeader.title
        small
        &nbsp;#{pageHeader.strapline}

  .row
    .col-12
      .card
        .card-block.d-flex.justify-content-between.align-items-center
          img.media-img(src='/images/BRS.jpeg')
          h4 Bharat Rashtra Samithi
          p.address BANDARI LAKSHMA REDDY
          .vote-box
            a(href="/location") Vote
    .col-12
      .card
        .card-block.d-flex.justify-content-between.align-items-center
          img.media-img(src='/images/BJP.jpg')
          h4 Bharatiya Janata Party
          p.address N.V.S.S. PRABHAKAR
          .vote-box
            a(href="/location") Vote
    .col-12
      .card
        .card-block.d-flex.justify-content-between.align-items-center
          img.media-img(src='/images/INC.jpg')
          h4 Indian National Congress
          p.address PARAMESHWAR REDDY MANDUMULA
          .vote-box
            a(href="/location") Vote
    .col-12
      .card 
        .card-block.d-flex.justify-content-between.align-items-center
          img.media-img(src='/images/BSP.jpeg')
          h4 Bahujan Samaj Party
          p.address SUNKARA NARESH
          .vote-box
            a(href="/location") Vote
    .col-12
      .card
        .card-block.d-flex.justify-content-between.align-items-center
          img.media-img(src='/images/PPI.jpeg')
          h4 Pyramid Party of India
          p.address ALAMURI TIMMAIAH CHAR
          .vote-box
            a(href="/location") Vote
    .col-12
      p.lead Unable to go to the poll booth? Perhaps let the Online Voting System help you!
